{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
  <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-between" style="background-color: #e3f2fd;">
    <a class="navbar-brand mx-5"> Vicky's Lab </a>
    <a class="btn btn-primary mx-5" href="{% url 'wishlist:login' %}"> Wishlist App </a>
  </nav>
  <div class="d-flex justify-content-center mt-5">
    <h1 class="text-center">Goodbye, world 😥</h1>
  </div>
  
  <!-- <h3>This is example app for Django template</h3> -->
{% endblock content %}